* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#caf0f8;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center; 
}
.logo{
    background-color: #023e8a;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    
}
.name{
    background-color: #caf0f8;
    height: 40px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 2px solid #01050a;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .5)
}

h1{
    color: #023e8a;
    font-size: 40px;
    font-weight: bold;
}
.login{
    background-color: #caf0f8;
    height: 40px;
    width: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 2px solid #01050a; 
    margin-left: 150px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .5)
}
a{
    text-decoration: none;
    color: #01050a;
    font-size: 20px;
    font-weight: bold;
}
